body {
  max-width: 100%;
  max-height: 100%;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #715863;
  background-color: #F2E9E2;
}

form h3 {
  font-weight: 200;
  text-align: center;
}

form label {
  display: block;
  text-align: left;
  font-weight: 600;
}

form input[type="text"] {
  display: inline-block;
  box-sizing : border-box;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  border: 0;
  font-size: 1rem;
  color: #58394D;
  background-color: rgba(255, 255, 255, 0.6);
}

form input[type="submit"] {
  display: block;
  margin: 10px auto;
  width: 50%;
  font-size: 1rem;
  line-height: 2.5rem;
  border-radius: 10px;
  background-color: #715863;
  color: #F2E9E2;
  cursor: pointer;
}

.daily-entry {
  margin: 5px auto;
}

.status-wrap {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.status-wrap h4 {
  display: inline-block;
  margin: 10px auto;
}

.status-wrap div {
  display: inline-block;
}